.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    width: 80%;

    margin: 0 auto;
    padding: 1rem;
    border-radius: 5px;
    background-color:#fa7f77;
}

.inputLabel{
    width: 90%;
    color: #FFFFFF;
}

.input{
    width: 90%;
}

.btn_container{
    display: flex;
    width: 95%;
    justify-content: center;
    margin: 0 auto;
}

.btn_register_contact{
    width: 70%;
    height: 20px;
    margin: 1rem auto 0 auto;
    background-color: #d46455;
    border: none;
    border-radius: 5px;
}

.btn_register_contact:hover{
    opacity: .5;
    color: white;
}

.btn_go_back{
    margin: 1rem auto 0 auto;
    width: 50%;
}