.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    width: 80%;

    margin: 0 auto;
    padding: 1rem;

    border-radius: 5px;

    background-color:#fa7f77;

}

.inputLabel{
    width: 90%;
    color: #FFFFFF;
}

.input{
    width: 90%;
}

.btn_register_client{
    width: 80%;
    height: 18px;

    margin: 1rem auto 0 auto;

    background-color: #d46455;

    border: none;
    border-radius: 5px;
}

.btn_register_client:hover{
    opacity: .5;
    color: white;

}