.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 auto;
    padding: 1rem;

    gap: 2rem;

    width: 95%;
    max-width: 500px;

    max-height: 800px;

    border-radius: 5px;

    background-color: #b42529;
}

.btn_get_clients{
    width: 50%;
    height: 18px;

    border: none;
    border-radius: 5px;

    background-color: #d46455;

}

.btn_get_clients:hover{
    opacity: .5;
    color: white;

}