.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 1rem;

    margin: 3rem auto 0 auto;

    width: 90%;
}

.containerTitle{
    font-size: 20px;
    color: #f6c7b7;
}

.btn_register_contact{

    width: 10rem;
    height: 18px;

    border: none;
    border-radius: 5px;

    background-color: #d46455;

}

.btn_register_contact:hover{
    opacity: .5;
    color: white;

}